<footer class="font-flevar flex-shrink-0 text-white bg-flevar-p4">
    <nav>
        <div class="flex justify-between cont items-center py-3 gap-8">
            <img class="w-10" src="/images/footer-logo.png" alt="FlevaR Editor Footer Logo">
            <span class="navbar-brand text-flevar-p1 text-lg text-right"><a href="/">©2022 FlevaR Editor.</a> All rights
                reserved.</span>
        </div>
    </nav>
</footer>