<% var headerInfo; var bgUrl; %>
    <header class="text-white">
        <div class="font-custom h-screen-2 <%= `bg-${cPage || " default" }-hero-image` %> bg-fixed bg-no-repeat bg-cover
            bg-center" style="<%= bgUrl ? `background-image: url('${bgUrl}');` : '' %>">
                <div class="cont h-full relative mx-auto">
                    <div class="text-shadow text-center pt-52 sm:pt-72">
                        <h3 class="font-royal text-6xl mb-3">
                            <%= headerInfo.title || "" %>
                        </h3>
                        <h4 class="text-xl">
                            <%= headerInfo.desc || "" %>
                        </h4>
                    </div>
                    <div class="absolute cont bottom-4 left-0 w-full flex justify-center">
                        <button onclick="scrollToY(window.innerHeight - 80, 1200)"
                            class="block bg-black bg-opacity-70 rounded-md text-gray-100">
                            <span class="hidden">Discover More</span>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"
                                class="h-10 w-10 transform rotate-180">
                                <path fill="currentColor"
                                    d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
        </div>
    </header>
    <script>
        const vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty("--vh", `${vh}px`);
        window.addEventListener("resize", () => {
            const vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty("--vh", `${vh}px`);
        });
    </script>