<section class="h-full bg-flevar-p3 text-flevar-p1">
        <div class="cont">
            <div class="pb-20 pt-28 md:flex items-center flex-row gap-20">
                <div class="w-5/12 mb-6">
                    <div class="mb-7 text-9xl">
                        FlevaR
                        <br/>
                        Editor
                    </div>
                    <div class="text-2xl sm:text-2xl font-normal mb-4">
                        <div class="mb-3">
                            FlevaR is a declarative JavaScript game engine for creating 2D browser games and
                            applications.
                        </div>
                    </div>
                    <div class="text-lg text-flevar-p1 font-light mt-28">Explore and create!</div>
                    <a class="text-flevar-p1 bg-flevar-p5 hover:bg-flevar-p4 inline-block mt-6 lg:py-3 lg:px-24 lg:rounded-xl lg:text-2xl mr-8 py-2 px-20 text-xl rounded-lg "
                        href="/#learn">Learn</a>
                    <a class="text-flevar-p1 inline-block mt-6 py-3 px-24 bg-flevar-p5 rounded-xl hover:bg-flevar-p4 text-2xl"
                        href=<%=dLinks.create||"/#create"%> target="blank_">Editor</a>
                </div>
                <div class="flex-1 box-shadow h-full flex items-center justify-center overflow-hidden">
                    <img class="w-full" src="/images/hero-images/home-hero-image.jpg"
                        alt="FlevaR Editor - create games and applications" title="Create your FlevaR applications">
                </div>
            </div>

        </div>
    </section>