<section class="h-full bg-flevar-p3 text-flevar-p1 font-light">
    <div class="cont">
        <div class="pb-20 pt-12 lg:pt-8 xl:pb-12 xl:pt-16 text-center xl:text-left xl:flex items-center flex-row gap-20">
            <div class="xl:w-5/12 mb-20 md:mb-6">
                <div class="leading-none mt-12 mb-20 sm:mt-4 sm:mb-7 text-6xl sm:text-8xl md:text-9xl lg:leading-tight">
                    FlevaR Editor
                </div>
                <div class="w-4/6 md:w-4/5 xl:w-full mx-auto text-base md:text-xl xl:text-xl font-light mb-4">
                    <div class="mb-3">
                        FlevaR is a declarative JavaScript game engine for creating 2D browser games and
                        applications.
                    </div>
                </div>
                <div class="hidden xl:block text-base text-flevar-p1 font-light mt-28">
                    Explore and create!
                </div>
                <a class="text-flevar-p1 bg-flevar-p5 hover:bg-flevar-p4 inline-block mt-6 2xl:py-3 2xl:px-24 2xl:rounded-xl 2xl:text-2xl md:mr-8 py-2 px-20 text-xl rounded-lg"
                    href="https://github.com/danidre14/FlevaR/wiki" target="_blank">Learn</a>
                <a class="hidden md:inline-block text-flevar-p1 bg-flevar-p5 hover:bg-flevar-p4 mt-6 2xl:py-3 2xl:px-24 2xl:rounded-xl 2xl:text-2xl py-2 px-20 text-xl rounded-lg"
                    href=<%=dLinks.create||"/#create"%> target="_blank">Editor</a>
            </div>
            <div class="mt-12 mx-auto flex-1 w-4/5 h-full items-center justify-center">
                <div class="mx-auto flex-1 box-shadow w-full h-full flex items-center justify-center overflow-hidden">
                    <img class="w-full" src="/images/hero-images/home-hero-image.jpg"
                        alt="FlevaR Editor - create games and applications" title="Create your FlevaR applications">
                </div>
                <div class="mt-8 text-center text-base italic text-flevar-p2">
                    (Currently in heavy development)
                </div>
            </div>
        </div>
    </div>
</section>