@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
}

@layer components {
  .cont {
    @apply container py-0 mx-auto p-4;
  }
  .menu-item {
    @apply ml-10 md:ml-20 text-flevar-p1 hover:text-flevar-p2 cursor-pointer;
  }
  .menu-nav {
    @apply text-white;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #0ff0 50%, #252935 50%);
    transition: color 400ms, background-position 400ms ease;
  }
  .menu-nav-sticky {
    background-position: 0 -100%;
  }

  .menu-nav > div {
    transition: padding 400ms;
  }

  .menu-nav-sticky > div {
    @apply md:py-6;
  }
  /* .current-page {
    @apply text-flevar-s2 relative;
  } */
}
